#Actualizado el 20/01/2024
#Sat Jan 20 15:09:31 CET 2024
password=ApKcJ8fhFwcrQHqvR3emdw\=\=
driver=com.mysql.cj.jdbc.Driver
user=root
url=jdbc\:mysql\://localhost\:6033/BIBLIOTECA

#Ejemplo de fichero de configuración de la base de datos para el proyecto de la biblioteca
#Cambiar nombre de este archivo a biblioteca.config si no hay ninguna en el directorio ficheros
#Y cambiar los valores de las propiedades por los de la base de datos que se vaya a usar
